USE [master]
GO
/****** Object:  Database [CarRentSys]    Script Date: 2022/10/17 11:00:55 ******/
CREATE DATABASE [CarRentSys]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CarRentSys', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\CarRentSys.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CarRentSys_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\CarRentSys_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CarRentSys].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CarRentSys]
GO
/****** Object:  Table [dbo].[adIform]    Script Date: 2022/10/17 11:00:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[adIform](
	[ad_name] [nchar](10) NOT NULL,
	[ad_pwd] [nchar](10) NOT NULL,
 CONSTRAINT [PK_adIform] PRIMARY KEY CLUSTERED 
(
	[ad_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Car]    Script Date: 2022/10/17 11:00:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Car](
	[cid] [nchar](10) NOT NULL,
	[ctype] [nchar](10) NULL,
	[cprice] [int] NULL,
	[color] [nchar](10) NULL,
	[rentday] [nchar](10) NULL,
	[returnday] [nchar](10) NULL,
	[state] [nchar](10) NULL,
	[cbrand] [nchar](10) NULL,
 CONSTRAINT [PK_Car] PRIMARY KEY CLUSTERED 
(
	[cid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 2022/10/17 11:00:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[onum] [nchar](10) NULL,
	[fk_cid] [nchar](10) NULL,
	[fk_user_name] [nchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[userIform]    Script Date: 2022/10/17 11:00:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[userIform](
	[user_name] [nchar](10) NOT NULL,
	[user_pwd] [nchar](10) NOT NULL,
	[state] [int] NULL,
 CONSTRAINT [PK_userIfrom] PRIMARY KEY CLUSTERED 
(
	[user_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Car] ADD  CONSTRAINT [DF_Car_state]  DEFAULT (N'未出租') FOR [state]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FK_orders_Car] FOREIGN KEY([fk_cid])
REFERENCES [dbo].[Car] ([cid])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FK_orders_Car]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FK_orders_userIform] FOREIGN KEY([fk_user_name])
REFERENCES [dbo].[userIform] ([user_name])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FK_orders_userIform]
GO
USE [master]
GO
